{% extends "base.html" %}
{% block styleevent %}
<style>
	.jumbotron{
		/*background-image: url({{ instance.cover }});
		*/text-align:center;
	}
</style>
{% endblock %}
{% block content %}
	<img src="{{ instance.cover }}">

	<h2>{{ instance.name }}</h2>
	

	<p>{{ instance.description }}</p><br>
	<!-- <img src="{{ instance.photo }}" class="img-responsive"><br>
	 -->
	<p class="lead">Thông tin chi tiết:</p><br>
	<p class="lead"><p class="lead">{{ instance.infomation }}</p><br>
	</p><br>



{% endblock %}