{% extends "base.html" %}
{% block content %}

<div class="row">
<h1>Danh sách những câu chuyện </h1>
{% for instance in events %}
<div class="col-sm-6">
	<div class="thumbnail">	
	<a href="{{ instance.get_absolute_url }}"> 
		<img src="{{ instance.photo }}" class="img-responsive">
	</a>
	<div class="caption">
		<h3>
			<a href="{{ instance.get_absolute_url }}">{{ instance.name }}</a>
		</h3>
		<small>{{ instance.description }}</small>
	</div>
	</div>
</div>
{% endfor %}
</div>
{% endblock %}
