{% extends 'base.html' %}
{% load i18n %}


{% block content %}
<h1>{% block title %}{% trans "Tài khoản đã đăng kí thành công" %}{% endblock %}</h1>

<p class="lead">
    {% trans "Tài khoản của bạn đã đăng kí bạn có thể dùng nó để đăng nhập vào Djangokids." %}
    {% if not user.is_authenticated %}
    {% trans "You can log in." %}
    {% endif %}
</p>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
