{% extends "registration/registration_base.html" %}
{% load i18n %}


{% block content %}
<h1>{% block title %}{% trans "Đăng xuất thành công " %}{% endblock %}</h1>

<!-- <p>{% trans "Đăng xuất thành công " %}.</p>
 -->{% endblock %}
