{% extends "registration/registration_base.html" %}
{% load i18n %}


{% block content %}
<h1>{% block title %}{% trans "Password changed" %}{% endblock %}</h1>

<p>{% trans "Password successfully changed!" %}</p>
{% endblock %}


{# This is used by django.contrib.auth #}
