{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}



{% block content %}
<h1>{% block title %}{% trans "Change password" %}{% endblock %}</h1>

<form method="post" action="">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" value="{% trans 'Change password' %}" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
