{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}



{% block content %}
<h1>{% block title %}{% trans "Confirm password reset" %}{% endblock %}</h1>

<p>{% trans "Enter your new password below to reset your password:" %}</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" value="{% trans 'Set password' %}" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
