{% extends "registration/registration_base.html" %}
{% load i18n %}


{% block content %}
<h1>{% block title %}{% trans "Registration is closed" %}{% endblock %}</h1>

<p>{% trans "Sorry, but registration is closed at this moment. Come back later." %}</p>
{% endblock %}
