{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<h1>{% block title %}{% trans "Đăng kí một tài khoản" %}{% endblock %}</h1>

<form method="post" action="">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" value="{% trans 'Đăng kí' %}" />
</form>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
