{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}

<h1>{% block title %}{% trans "Cám ơn bạn" %}{% endblock %}</h1>

<p class="lead">{% trans "Chúng tôi đã gửi email cho bạn. Làm ơn vào email của bạn và nhấp vào link để hoàn thành việc đăng kí ." %}</p>
{% endblock %}


{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
