{% extends "base.html" %}

{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}



{% block content %}
<h1>Create Lesson</h1>
<form method="POST" action=""> {% csrf_token %}
	{{ form.as_p }}
<input type="submit" value=Create lesson></input>
	
</form>

{% endblock content %}