{% extends "base.html" %}


<!-- This is navbar -->
{% block stylelesson %}
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #eee;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #2196F3;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#mySidenav{
	width: 220px;
}
#main{
	margin-left: 220px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
{% endblock %}

{% block navlesson %}


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    {% for lesson in list_lesson_in_tutorial %}
    	<a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a>
    {% endfor %}
</div>

<div id="main">
  <h2>{{ instance.tutorial.title }}</h2>
  <span style="font-size:25px;cursor:pointer" onclick="openNav()">☰ Danh sách</span>
</div>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "220px";
    document.getElementById("main").style.marginLeft = "220px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
}
</script>
{% endblock%}	



{% block content %}
	<!-- This is content of lesson -->
	<h3>{{ instance.title }}</h3>
	<div class="content-markdown">
	<p>{{ instance.content }}</p>
	</div>

{% endblock content %}

