{% extends "base.html" %}


{% block stylelesson %}
<style>
	.aa{
		font-size: 20px;
	}
</style>
{% endblock %}
{% block content_lesson_detail %}
<div class="jumbotron">
<div class="container">

<div class="row">
<div class="col-sm-8 col-sm-offset-2">
	<div class="col-sm-6">
		<h2>{{ tutorial.title }}</h2>
		<p>{{ tutorial.description }}</p>
		<p><a href="{{ lesson_first.get_absolute_url }}" class="btn btn-success btn-lg">Bắt đầu</a></p>
	</div>

	<div class="col-sm-6" style="padding-top:5px">
		<img src="{{ tutorial.photo }}" class="img-responsive">
	</div>
</div>
</div>

</div>
</div>

<div class="row">
<div class="col-sm-8 col-sm-offset-2">
<h3>Danh sách các bài học</h3>
<hr>
	{% for instance in lessons %}

		<a class="aa" href="{{ instance.get_absolute_url }}">{{ instance.title }}</a><br>

	{% endfor %}

{% if is_hello_django %}
<div>
	<h4>Kết quả khóa học:</h4>
	<li><p>Có kiến thức căn bản về ngôn ngữ Python và Django framework</p></li>
	<li><p>Xây dựng được website với Django framework</p></li>
	<li><p>Những học viên có nguyện vọng và năng lực có thể được tuyển để tham gia vào phát triển dự án Django kids</p></li>
	<h4>Đối tượng mục tiêu:</h4>
	<li><p>Học sinh/sinh viên  chưa có nền tảng CNTT nhưng muốn học lập trình để tạo ra các website phục vụ nhu cầu học tập/công việc.</p></li>
	<li><p>Những lập trình viên chưa từng có kinh nghiệm làm việc với Python nhưng muốn học để sử dụng Python/Django trong công việc.</p></li>
	<li><p>Ưu tiên những bạn đang tham gia các CLB/tổ chức xã hội, các bạn nữ.</p></li>
	<h4>Học phí: Miễn phí</h4>
	<li><p>Thời lượng: 6 tuần (2 buổi/tuần)</p></h4>
	<h4>Nội dung đào tạo</h4>
	<li><p>Chúng tôi dành 2 tuần đầu tiên dạy Python cơ bản</p></li>
	<li><p>Sau đó các bạn sẽ dành 2 tuần để học cơ bản về web framework – Django. Trong buổi thứ 4, mỗi bạn sẽ thực hành xây dựng 1 website đơn giản với Django</p>
	</li>
	<li><p>Sau đó, các bạn dành 2 tuần tiếp theo để học Python/Django nâng cao</p></li>
	<li><p>Trong hai tuần cuối, các nhóm sẽ lên ý tưởng một website và xây dựng website dựa trên những gì đã học cùng với sự trợ giúp của các huấn luyện viên. Ngày cuối cùng của khóa học các nhóm sẽ có buổi trình bày sản phẩm của nhóm.</p></li>
	<h4>Cách thức đăng ký:</h4>
	<li><p>Các bạn đăng ký tại link sau trước ngày 15/4/2016 <a style="color:blue;" href="https://djangokids.typeform.com/to/mCCHnD">https://djangokids.typeform.com/to/mCCHnD</a></p></li>
	<li><p>Sau đó BTC sẽ chọn ra 10 bạn phù hợp nhất để tham gia khóa học Hello Django.</p></li>
</div>
</div>
{% endif %}
</div>
{% endblock %}