{% extends "base.html" %}

{% block content %}
This is tutorial detail
	<a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a><br>
	{{ instance.description }}<br>
	{% if instance.photo %}
		<img src="{{ instance.photo }}" >
	{% endif %}
	<br>
{% endblock content %}