{% extends "base.html" %}


{% block content %}
<h1>Create Tutorial</h1>
<form method="POST" action="" enctype='multipart/form-data'> {% csrf_token %}
{{ form.as_p }}
<input type="submit" value=Create></input>
	
</form>

{% endblock content %}