{% extends "base.html" %}

{% block content %}
<h1>Các khóa học python-django</h1>
<hr>
<div class="row">
{% for instance in tutorials  %}
<div class="col-sm-6">
	<div class="thumbnail">
	<a href="{{ instance.get_absolute_url }}">
		<img src="{{ instance.photo }}" class="responsive">
	</a>
	<div class="caption">
		<h3>
			<a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a>
		</h3>
		<p>
			<a href="{{ instance.get_absolute_url }}" class="btn btn-success">Bắt đầu</a>
		</p>
		<small>{{ instance.description }}</small>
	</div>
	</div>
</div>
{% endfor %}
</div>
{% endblock content %}