{% extends "base.html" %}
{% block content %}
	<h2>{{ instance.title }}</h2>
	{% if instance.photo %}
		<img src="{{ instance.photo }}" class="img-responsive">
	{% endif %}
	<div class="content-markdown">
	{{ instance.content }}
	</div>


	<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>


{% endblock %}