{% extends "base.html" %}
{% block content %}

<h1>Danh sách các câu chuyện </h1>
{% for instance in stories %}
	<li><p class="lead"><a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a></p></li>
	{% if instance.photo %}
		<img width="400px" src="{{ instance.photo }}" class="img-responsive">
	{% endif %}
	<br>

{% endfor %}
{% endblock %}