{% extends "base.html" %}

{% block head_extra %}
     {{ form.media }}
{% endblock head_extra %}

{% block content %}  
	<h1>Create Story</h1>  

	<form method="POST" action="" enctype='multipart/form-data'>{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Create story"></input>
		
	</form>


{% endblock %}