{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Thông tin về chúng tôi </h1>

<h2>Góp ý cho chúng tôi</h2>
<form method="POST" action="">{% csrf_token %}
	{{ form | crispy }}
	<input type="submit" value="Send"></input>
</form>

{% endblock content %}