{% load staticfiles %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
	<meta name="author" content="">

	{% include "header_css.html" %}
	<title>{% block title %}DjangoKids{% endblock title %}</title>
    
    {% block stylelesson %}
    {% endblock %}
    {% block styleevent %}
    {% endblock %}
</head>

<body>

	{% include "navbar.html" %}

	{% block jumbotron %}
	{% endblock jumbotron %}

    {% block contenthome %}
    {% endblock %}

	{% block head_extra %}
    {% endblock head_extra %}

    {% block navlesson %}
    {% endblock navlesson %}

    {% block content_lesson_detail %}
    {% endblock %}

    <div class="container">
      <!-- Example row of columns -->  
    <div class=row>
        <div class="col-sm-8 col-sm-offset-2">
            {% block content %}
	       {% endblock content %}
        </div>
    </div>  
	</div> <!-- /container -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    {% block footer %}
    {% endblock footer%}



    {% include "javascript.html" %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <script   src="http://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <script type="text/javascript"> 
    $(document).ready(function(){
        $(".content-markdown").each(function(){
            var content = $(this).text()
            console.log(content)
            var markedContent = marked(content)
            console.log(markedContent)
            $(this).html(markedContent) 
    })
})
</script>
</body>
</html>
