{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-static-top.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/ie10-viewport-bug-workaround.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jumbotron.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/my-customize.css' %}">



