{% extends "base.html" %}
{% load staticfiles %}

{% block jumbotron %}
	<!-- Gioi thieu ve du an -->
    <div class="jumbotron">
      <div class="container">
      <div class="row">
      <div class="col-sm-6">
     	<h1>Django kids</h1>
        <p>Django kids mong muốn kết nối các lập trình viên để tạo ra công cụ giúp cho học sinh ở VN có thể tự học lập trình online để giải quyết các bài toán thực tế. </p>
        <p><a class="btn btn-success btn-lg" href="{% url 'tutorial:tutorial_list' %}" role="button">Bắt đầu nào &raquo;</a></p>
      </div>

      <div class="col-sm-6">
        <div class="thumbnail" >
        	<img src="{% static 'img/django.png' %}" class='img-responsive'>
        </div>
      </div>
      </div>
      </div>
    </div>
{% endblock jumbotron %}

{% block contenthome %}



<!-- Nhung bai huong dan -->
<div class="container">
  <h2 class="text-align-center">Các khóa học python-django</h2><hr>
  <div class="row">
  {% for instance in tutorials  %}
  <div class="col-sm-4">
    <div class="thumbnail">
    <a href="{{ instance.get_absolute_url }}">
      <img src="{{ instance.photo }}" class="responsive">
    </a>
    <div class="caption">
      <h3>
        <a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a>
      </h3>
      <p>
        <a href="{{ instance.get_absolute_url }}" class="btn btn-success">Bắt đầu</a><small> {{ instance.description }}</small>
      </p>
    </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>


<!-- Nhung cau chuyen -->
<dir class="container">
<h2 class="text-align-center">Những câu chuyện </h2><hr>
  <div class="row">
    <div class="col-sm-6">
      <p style="font-size: 20px">Chúng tôi sẽ liên tục đăng lên những câu chuyện dành cho bạn để bạn có thêm cảm hứng để học Python-Django.</p> 
    </div>

    <div class="col-sm-6">
      {% for story in stories %}
       <li><p style="font-size: 20px"><a href="{{ story.get_absolute_url }}">{{ story.title }}</a></p></li>   
      {% endfor %}
    </div>
  </div>
</dir>

<!-- Nhung su kien sap dien ra -->

<div class="container">
  <h2 class="text-align-center">Những sự kiện sắp diễn ra</h2><hr>
  <div class="row">
  {% for event in events  %}
    <div class="col-sm-4">
      <div class="thumbnail">
        <a href="{{ event.get_absolute_url }}">
          <img src="{{ event.photo }}">
        </a>
      
      <div class="caption">
        <h3><a href="{{ instance.get_absolute_url }}">{{ instance.name }}</a></h3>
        <p> {{ event.description }}</p>
        <a href="{{ event.get_absolute_url }}" class="btn btn-success btn-lg">Tham gia</a>
      </div>
      </div>
    </div>
  {% endfor %}

  </div>
</div>
  

<!-- Hay lien he voi chung toi -->
<div class="container">
  <h2>Hãy liên hệ với chúng tôi </h2>
  <p class="lead">Mọi ý kiến đóng góp xin gửi về gmail: Djangokids@gmail.com</p>
  <p class="lead">Chúng tôi mong rằng sẽ sớm hoàn thành sản phẩm mang lại sự hứng thú khi học Python-Django. </p>
  <p class="lead">Giúp mọi người tự mình tạo ra những sản phẩm ứng dụng vào thực tế.</p>


</div>


{% endblock contenthome%}

{% block content %}
{% endblock content%}

{% block footer %}
    <footer style="background-color: #f9f7f7; padding-top: 20px;">
    <div class="container">
      <h2 style="color: #0C3C26">Django kids</h2><hr>
      <p>Email: Djangokids@gmail.com</p>
      <p>Điện thoại: 01692632585</p>
      <p>Địa chỉ: 36 Duy Tân Ozatea</p>
    </div>

    </footer>
{% endblock footer%}








