{% load staticfiles %}


<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
