{% load staticfiles %}
    <nav class="navbar navbar-fixed-top navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar" >
            <!-- <span class="sr-only">Toggle navigation</span>
             -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'core:home' %}"><img src="{% static 'img/logo-django-kid-3.png' %}"style="width:150px; height:50px;padding-bottom: 3px;"></a>
        </div>
        <div id="mynavbar" class="collapse navbar-collapse ">
          <ul class="nav navbar-nav">
            <li><a href="/tutorials" class="white">Khóa học</a></li>
            <li><a href="/blog" class="white">Blog</a></li>
            <li><a href="/events" class="white">Comming soon</a></li>
            <li><a href="/about" class="white">About</a></li> 
          </ul>
          <ul class="nav navbar-nav navbar-right">
          {% if not request.user.is_anonymous %}
          <li><a href="{% url 'auth_logout' %}" class="white">Đăng xuất ({{ request.user.username }})</a></li>          
          {% else %}
          <li><a href="{% url 'registration_register' %}" class="white">Đăng kí</a></li>
          {% endif %}
          </ul>
          {% if request.user.is_anonymous  and 'accounts/login' not in request.get_full_path %}
          <ul class="nav navbar-nav navbar-right">
          <form class="navbar-form navbar-right" method="POST" action="{% url 'auth_login' %}">{% csrf_token %}
            <div class="form-group">
              <input type="text" placeholder="Tên người dùng"  name="username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Mật khẩu" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success" class="white">Đăng nhập</button>
          </form>
          </ul>
           {% endif %}

        </div><!--/.navbar-collapse -->
      </div>
    </nav> <!-- end navbar -->
